<!DOCTYPE html>
<html ng-app="App">
<head>
	<title>Where is the closest uPrint?</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
	<script src="script.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="UPCtrl">
	<div id="main">
	<p id="iamat">I am at... <input ng-model="query.tit" placeholder="Burnside Hall, Redpath, Library Wong..."></p>
	<p>The closest uPrint is...</p>
	<ul>
	<li ng-repeat="printer in printers | patmatch: query.tit">
				<span>{{printer.building + " Building on floor "+ printer.floor}}
				{{whereAgain(printer.location)}}<br />{{printer.tit}}
				</span><br />
				<span style="color:{{colorMe(printer.color)}}">color printing </span> | 
					<span style="color:{{colorMe(printer.guest)}}">guest access</span>
	</li>
	</ul>
	</div>
</body>
</html>